import * as classes from "./{{pascalCase name}}.css";

type {{pascalCase name}}Props = {

};

/**
 * todo: [Component Description]
 */
export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div className={classes.root}>{{pascalCase name}}</div>
  );
};
